<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="static/css/style.css">
		
		<title>SKK Dolphins Prievidza</title>
	</head>

	<body>
		<nav>
			<ul>
				
				<li><a class="active" href="index.html">Úvod</a></li>
				<li><a href="o-nas.html">O nás</a></li>
				<li><a href="#">Články</a></li>
				<li><img src="static/img/znak_skk.png"></li>
				<li><a href="#">Súťaže</a></li>
				<li><a href="a-tim.html">Družstvá</a>
					<ul>
						<li><a href="#">Seniori</a></li>
						<li><a href="#">Mládež</a>
							<ul>
								<li><a href="#">U17</a>
								<li><a href="#">U15</a>
								<li><a href="#">U13</a>
								<li><a href="#">U11</a>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#">Tréningy</a></li>
			</ul>
		</nav>
		
		<div class="news">
			<div class="latest-main">
				
			</div>
		</div>
		
		
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
			
	</body>
	<footer>
		<div class="container">
			<div class="contact">
				<h3>Kontakt</h3>
				<p>info@skkdolphins.sk</p>
				<p>+421 999 888 777</p>
			</div>
		
			<div class="social-media">
				<h3>Sociálne siete</h3>
				<a href="https://www.facebook.com/SKK-Dolphins-Prievidza-161845083887617/"><img src="static/img/facebook.png"></a>
				<a href="https://www.instagram.com/sonypddolphins/"><img src="static/img/instagram.png"></a>
				<a href="https://www.youtube.com/channel/UCmjTodUfoVB9Qe704S7kBIA"><img src="static/img/youtube.png"></a>
				<a href="https://twitter.com/majorisfame"><img src="static/img/twitter.png"></a>
			</div>
		</div>
	</footer>
</html>
